*{
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

:root{
  --bg-color:#0F172A;
  --stroke-color:#1E293B;
  --brand-color-dark:#1D4ED8;
  --brand-color-light:#60A5FA;
  --text-color-primary: #F1F5F9;
  --text-color-secondary:#CBD5E1;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color-primary);
  font-family: "Archivo", sans-serif;
}